:root
{
    --color-yellow1: #dbdb08;
    --color-gray1: #7f8081;
    --color-gray2: #4e5052;
    --color-white: #f8f9fa;
    --color-blue: #032c56;
    --color-orange: #d78407;
    --color-orange2: #ffbf00;
    --color-green1: #06ad06;
}


/* Start Gallery */
.gallery ul li a:hover
{
    color: var(--color-orange);
}
/* Start Gallery */
