// Start programs
.our-programs
{
    .programs-item
    {
        margin: 0 13.5px;

        img
        {
            width: 100%;
        }

        a
        {
            color: var(--color-orange);

            &:hover
            {
                // color: var(--color-gray2);
                text-decoration: underline;
            }
        }
    }

    .programs-item:nth-of-type(1)
    {
        img
        {
            height: 13rem;
            border-radius: 20px 20px 0 0;
        }

        h6
        {
            color: var(--color-white);
            background-color: var(--color-orange);
            text-align: center;
            padding: 15px;
            border-radius: 0 0 20px 20px;
            margin-top: 0;

            &:hover
            {
                color: var(--color-gray2);
            }
        }
    }

    .programs-item:nth-of-type(2)
    {
        margin-top: 50px;

        img
        {
            height: 20rem;
        }
    }

    .programs-item:nth-of-type(3)
    {
        background-color: var(--color-gray1);
        padding: 20px;
        border-radius: 20px;
        height: fit-content;

        img
        {
            height: 5rem;
            width: 100%;
            // margin: 5px 2.5px;
        }

        h6
        {
                color: var(--color-orange2);
        }

        ul
        {
            margin-bottom: 2.6rem;

            a
            {
                color: var(--color-white);
                font-size: 16px;
            }
        }

        .programs-gallery
        {
            h6
            {
                margin-bottom: 5%;
            }

            ul
            {
                display: grid;
                grid-gap: 12px;
                grid-template-columns: 1fr 1fr;
                margin-bottom: 0.5rem;
            }
        }
    }
}
// End programs



// Start gallery Page
.gallery
{
    .gallery-nav
    {

        span
        {
            margin-top: 2px;
        }
        
        h5
        {
            font-size: 1.20rem;
            font-weight: bold;
        }

        li
        {
            margin: 0 4px;

            .selected
            {
                color: var(--color-orange);
            }
        }

        span, a
        {
            font-weight: 100;
            font-size: 14px;
            color: var(--color-gray2);
        }

        .menu
        {
            li
            {
                width: 51px;
                // text-align: center;
                position: relative;
            }

            ul
            {
                width: 200px;
            }

            li:nth-of-type(2)
            {                
                margin: 0 5px 0 2px;

                a
                {
                    border: solid var(--color-gray2);
                    border-width: 0 1.9px;
                    padding: 0 5px;
                }
            }
        }

        .move-pages
        {
            span
            {
                letter-spacing: 1px;
            }

            i
            {
                font-size: 15px;
            }
        }
    }
}
// End gallery Page 